body {
  min-height: 100vh;
}

.gameBody{
  display: flex;
  flex-direction: column;
  height: 100vh ;
}
.progress-bar {
  height: 100%
}
/* wrappers */
.centerWrapper {
  display: flex;
  width: 100%;
  /* position: relative; */
}

@keyframes example {
  /* from {color: red;}
  to {color:rgb(55,106,161);} */
  0%    {color:rgb(55,106,161);
        }

  50%  {
        width: 40%
      }
  100%  {color:rgb(55,106,161);
     
      };
}
@keyframes hit {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
    background: red;
  }
  100% {
    transform: scale(1);
  }
}
@keyframes missed {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(.75);
    background: blue;
  }
  100% {
    transform: scale(1);
  }
}

.hitAnimation {
  animation-name: hit;
  animation-duration: 2s;
}
.missedAnimation {
  animation-name:missed;
  animation-duration: 2s;
}

.rocketStyles {
  color: rgb(55,106,161);
  transform: rotate(45deg);
  position: absolute;
  right: 20%;
  /* font-size: 40px; */
  animation-name: example;
  animation-duration: 2s;
  animation-iteration-count: 100;
  animation-timing-function: ease;
}
.opponentRocketStyles {
  color: rgb(55,106,161);
  transform: rotate(225deg);
  position: absolute;
  left: 20%;
  /* font-size: 40px; */
  animation-name: example;
  animation-duration: 2s;
  animation-iteration-count: 100;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.centerWrapper h3 {
  margin-left: auto;
  margin-right: auto;
}

.centerWrapper img {
  margin-left: auto;
  margin-right: auto;
}

/* game grid */
.gameGridStyles {
  height: 336px;
  width: 336px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  position: relative;
  justify-self: center;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

.gameGridGameStarted {
  top: 20vh;
}



/* animations */
.fade-enter {
  opacity: 0;
  transform: scale(0.9);
}

.fade-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 500ms, transform 500ms;
}

.fade-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 500ms, transform 500ms;
}

/* ship selection area */
.defaultWrapper {
  display: flex;
  width: 100%;
  position: relative;
}

.shipDefaultStyle {
  background: black;
  width: 38px;
  height: 38px;
  margin-right: 3px;
  border-radius: 10px;
  cursor: pointer;
  border: '';
}

.shipSelection {
  margin-right: 8px;
  padding-top: 10px;
}

.manipulateTitle {
  height: 15%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
}

.manipulateShipPanel {
  width: 120px;
  height: 160px;
  margin-top: 10px;
  margin-right: 3px;
  border: 2px solid black;
  border-radius: 10px;
}

.manipulateShipPanel div:not(:first-child) {
  font-size: 23px;
}

.startGameBtn {
  background-color: #74acd6;
  color: white;
  width: 100%;
  height: 30px;
  font-size: 22px;
  margin: 10px;
  border-radius: 30px;
  cursor: pointer;
  text-align: center;
}

/* position ship styling */
.arrowUpContainer {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrowLeftContainer {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrowRightContainer {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leftAndRightContainer {
  display: flex;
  width: 100%;
}

.arrowDownContainer {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rotateLeftAndRightContainer {
  height: 25%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rotateLeftContainer {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrowStyles {
  cursor: pointer;
}
.shipStyles {
  color: rgb(55,106,161);
  position: absolute;
  left: 5%;
  top: 25%;
}
.skullStyles {
  color: rgb(55,106,161);
  position: absolute;
  right:5%;
  top: 25%;
}


.buttonPanelContainer {
  display: flex;
}

/* misc */
.abs {
  position: absolute
}

.noSelect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

/* media queries for smaller screens */
@media screen and (max-width: 360px) {
  .shipSelection {
    text-align: center;
  }

  .centerWrapper {
    display: flex;
    width: 100%;
    /* position: relative; */
  }

  .shipSelectedStyle:first-child,
  .shipDefaultStyle:first-child {
    margin-left: auto;
  }

  .shipSelectedStyle:last-child,
  .shipDefaultStyle:last-child {
    margin-right: auto !important;
  }

  .startGameBtn {
    width: 155px;
    margin-left: auto;
    margin-right: auto;
  }

  .manipulateShipPanel {
    margin-left: auto;
    margin-right: auto;
  }
}